.App {
  text-align: center;
}

.AuthGov {
  height: 100%;
}

.App-logo {
  height: 200px;
  position: relative;
  top: 15px;
  pointer-events: none;
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.title {
  color: black;
  text-align: center;
  font-size: 80px;
}

.subtitle{
  color: black;
  text-align: center;
  font-size: 40px;
  position: relative;
  bottom: 10px;
}

.flex-box {
  display: flex;
  flex-direction: column;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
